<!DOCTYPE html>
<html>
<head>
    <title>Novo Profissional</title>
</head>
<body>
    <h1>Novo Profissional</h1>
    <form method="post">
        {% csrf_token %}
        <label>Nome:</label><br>
        <input type="text" name="nome"><br><br>
        
        <label>Especialidade:</label><br>
        <input type="text" name="especialidade"><br><br>
        
        <label>Telefone:</label><br>
        <input type="text" name="telefone"><br><br>
        
        <button type="submit">Salvar</button>
    </form>
    <a href="{% url 'lista_profissionais' %}">Voltar para a lista de profissionais</a>
</body>
</html>
