<!DOCTYPE html>
<html>
<head>
    <title>Lista de Transações</title>
</head>
<body>
    <h1>Lista de Transações</h1>
    <ul>
        {% for transacao in transacoes %}
            <li>
                {{ transacao.descricao }} - {{ transacao.valor }} em {{ transacao.data }} - 
                <a href="{% url 'editar_transacao' transacao.id %}">Editar</a>
                <a href="{% url 'excluir_transacao' transacao.id %}" onclick="return confirm('Tem certeza que deseja excluir esta transação?');">Excluir</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'nova_transacao' %}">Nova Transação</a>
</body>
</html>
