<!DOCTYPE html>
<html>
<head>
    <title>Nova Transação</title>
</head>
<body>
    <h1>Nova Transação</h1>
    <form method="post">
        {% csrf_token %}
        <label>Descrição:</label><br>
        <input type="text" name="descricao"><br><br>
        
        <label>Valor:</label><br>
        <input type="number" name="valor" step="0.01"><br><br>
        
        <label>Data:</label><br>
        <input type="date" name="data"><br><br>
        
        <button type="submit">Salvar</button>
    </form>
    <a href="{% url 'lista_transacoes' %}">Voltar para a lista de transações</a>
</body>
</html>
