<!DOCTYPE html>
<html>
<head>
    <title>Editar Agendamento</title>
</head>
<body>
    <h1>Editar Agendamento</h1>
    <form method="post">
        {% csrf_token %}
        <label>Paciente:</label><br>
        <select name="paciente">
            {% for paciente in pacientes %}
                <option value="{{ paciente.id }}" {% if agendamento.paciente.id == paciente.id %}selected{% endif %}>{{ paciente.nome }}</option>
            {% endfor %}
        </select><br><br>
        
        <label>Profissional:</label><br>
        <select name="profissional">
            {% for profissional in profissionais %}
                <option value="{{ profissional.id }}" {% if agendamento.profissional.id == profissional.id %}selected{% endif %}>{{ profissional.nome }}</option>
            {% endfor %}
        </select><br><br>
        
        <label>Data e Hora:</label><br>
        <input type="datetime-local" name="data_hora" value="{{ agendamento.data_hora|date:'Y-m-d\TH:i' }}"><br><br>
        
        <label>Observações:</label><br>
        <textarea name="observacoes">{{ agendamento.observacoes }}</textarea><br><br>
        
        <button type="submit">Salvar</button>
    </form>
    <a href="{% url 'lista_agendamentos' %}">Voltar para a lista de agendamentos</a>
</body>
</html>
