<!DOCTYPE html>
<html>
<head>
    <title>Lista de Agendamentos</title>
</head>
<body>
    <h1>Lista de Agendamentos</h1>
    <ul>
        {% for agendamento in agendamentos %}
            <li>
                {{ agendamento.paciente.nome }} com {{ agendamento.profissional.nome }} em {{ agendamento.data_hora }} - 
                <a href="{% url 'editar_agendamento' agendamento.id %}">Editar</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'novo_agendamento' %}">Novo Agendamento</a>
</body>
</html>
