{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
    <header>
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'clinica:home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'clinica:cadastrar_pacientes' %}">Cadastrar Pacientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'clinica:cadastrar_profissionais' %}">Cadastrar Profissionais</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'clinica:cadastrar_transacoes' %}">Cadastrar Transações</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'clinica:cadastrar_agendamentos' %}">Cadastrar Agendamentos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'clinica:listar_pacientes' %}">Listar Pacientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'clinica:listar_profissionais' %}">Listar Profissionais</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'clinica:listar_transacoes' %}">Listar Transações</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'clinica:listar_agendamentos' %}">Listar Agendamentos</a>
            </li>
          </ul>
    </header>
    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>