{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Bem-vindo à Clínica Veloz</h1>
            <p class="lead">Sua saúde é nossa prioridade. Oferecemos serviços médicos de primeira linha para garantir seu bem-estar.</p>
            <hr class="my-4">
            <p>Explore nossos serviços e conheça mais sobre nós.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a>
        </div>
    </div>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">© 2024 Clínica Veloz. Todos os Direitos Reservados.</span>
        </div>
    </footer>
{% endblock %}