{% extends 'base.html'%}

{% block content%}
    <h1>Listar Pacientes</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>Sexo</th>
                <th>Altura</th>
                <th>Peso</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            {% for paciente in pacientes %}
                <tr>
                    <td>{{ paciente.nome }}</td>
                    <td>{{ paciente.idade }}</td>
                    <td>{{ paciente.sexo }}</td>
                    <td>{{ paciente.altura }}</td>
                    <td>{{ paciente.peso }}</td>
                    <td><a href="{% url 'clinica:editar_paciente' paciente.id %}">Editar</a></td>
                    <td><a href="{% url 'clinica:excluir' 'paciente' paciente.id %}">Excluir</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}