{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Listar Agendamentos</h1>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover rounded">
                <thead class="thead-dark">
                    <tr>
                        <th>Paciente</th>
                        <th>Profissional</th>
                        <th>Data e Hora</th>
                        <th>Descrição</th>
                        <th>Confirmado</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for agendamento in agendamentos %}
                        <tr>
                            <td>{{ agendamento.paciente }}</td>
                            <td>{{ agendamento.profissional }}</td>
                            <td>{{ agendamento.data_horario }}</td>
                            <td>{{ agendamento.descricao }}</td>
                            <td>{{ agendamento.confirmado }}</td>
                            <td>
                                <a href="{% url 'clinica:editar_agendamento' agendamento.id %}" class="btn btn-primary btn-sm rounded-pill">Editar</a>
                                <a href="{% url 'clinica:excluir' 'agendamento' agendamento.id %}" class="btn btn-danger btn-sm rounded-pill">Excluir</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}