<!DOCTYPE html>
<html>
<head>
    <title>Editar Paciente</title>
</head>
<body>
    <h1>Editar Paciente</h1>
    <form method="post">
        {% csrf_token %}
        <label>Nome:</label><br>
        <input type="text" name="nome" value="{{ paciente.nome }}"><br><br>
        
        <label>Data de Nascimento:</label><br>
        <input type="date" name="data_nascimento" value="{{ paciente.data_nascimento }}"><br><br>
        
        <label>Endereço:</label><br>
        <input type="text" name="endereco" value="{{ paciente.endereco }}"><br><br>
        
        <label>Telefone:</label><br>
        <input type="text" name="telefone" value="{{ paciente.telefone }}"><br><br>
        
        <button type="submit">Salvar</button>
    </form>
    <a href="{% url 'lista_pacientes' %}">Voltar para a lista de pacientes</a>
</body>
</html>
