<!DOCTYPE html>
<html>
<head>
    <title>Novo Paciente</title>
</head>
<body>
    <h1>Novo Paciente</h1>
    <form method="post">
        {% csrf_token %}
        <label>Nome:</label><br>
        <input type="text" name="nome"><br><br>
        
        <label>Data de Nascimento:</label><br>
        <input type="date" name="data_nascimento"><br><br>
        
        <label>Endereço:</label><br>
        <input type="text" name="endereco"><br><br>
        
        <label>Telefone:</label><br>
        <input type="text" name="telefone"><br><br>
        
        <button type="submit">Salvar</button>
    </form>
    <a href="{% url 'lista_pacientes' %}">Voltar para a lista de pacientes</a>
</body>
</html>
